In [1]:
use sql to join the two tables

SyntaxError: invalid syntax (2218527000.py, line 1)